body {
  background-color: whitesmoke;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: white;
  margin: auto;
}

.todoitem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid blue;
  flex-basis: 70%;
}

input {
  margin-right: 20px;
}
